{% extends "base.html" %}

{% block content %}
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Welcome to Carpool App!</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Share rides, save money, and meet new people. Find or offer a ride easily.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="{{ url_for('rides.find_ride') }}" class="btn btn-primary btn-lg px-4 gap-3">Find a Ride</a>
                <a href="{{ url_for('rides.offer_ride') }}" class="btn btn-outline-secondary btn-lg px-4">Offer a Ride</a>
            </div>
        </div>
    </div>

    {% endblock %}